<!-- Toogle language -->
 {% comment %} Not Used {% endcomment %}
<li class="nav-item dropdown {% if page.title == p.title %}active{% endif %}">
    <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        {{- site.active_lang | upcase }}
        
        {% if page.title == p.title %}
            <span class="sr-only">(current)</span>
        {% endif %}
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        {% assign language_set = false %}
        {% for l in site.languages %}
        {% if l != site.active_lang %}
            {% if language_set %}
            <div class="dropdown-divider"></div>
            {% endif %}
            {% if l == site.default_lang %}
            <a class="dropdown-item" {% static_href -%} href="{{ site.baseurl }}{{ page.url }}" {%- endstatic_href %}>
                {% if site.country_flag %}
                <span class="fi fi-{{ l | split: "-" | last }}"></span>
                {% else %}
                {{ l | upcase }}
                {%- endif -%}
            </a>
            {% else %}
            <a class="dropdown-item" {% static_href -%} href="{{ site.baseurl }}/{{ l }}{{ page.url }}" {%- endstatic_href %}>
                {% if site.country_flag %}
                <span class="fi fi-{{ l | split: "-" | last }}"></span>
                {% else %}
                {{ l | upcase }}
                {%- endif -%}
            </a>
            {% endif %}
            {% assign language_set = true %}
        {% endif %}
        {% endfor %}
    </div>
</li>